retworkx>=0.8.0
qiskit-terra
qiskit-ibm-runtime
qiskit-machine-learning[torch,sparse]
cvxopt
jupyter
matplotlib
numpy
dill>=0.3.4
mthree>=0.24
git+ssh://git@github.ibm.com/IBM-Q-Software/pec-runtime.git@0.0.1-rc3
